---
layout: default
---
{% include hero-all.html %}

<section class="team-one">
    <div class="container">
        <div class="row">
            {% for member in site.data.team %}
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ loop.index * 100 }}ms">
                <div class="team-one__single">
                <div class="team-one__img">
                    <img src="{{ member.image }}" alt="">
                    <ul class="list-unstyled team-one__social">
                    <li><a href="https://instagram.com/{{ member.instagram }}"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="team-one__content">
                    <h3 class="team-one__name">{{ member.name }}</a></h3>
                    <p class="team-one__sub-title">{{ member.position }}</p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>