<section class="counter-one">
    <div class="counter-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url(assets/images/backgrounds/counter-one-bg.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-massage-1"></span>
                    </div>
                    <div class="counter-one__content-box">
                        <div class="counter-one__count-box">
                            <h3 class="odometer" data-count="23">00</h3>
                        </div>
                        <p class="counter-one__text">Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single counter-one__single-2">
                    <div class="counter-one__icon">
                        <span class="icon-lotus-1"></span>
                    </div>
                    <div class="counter-one__content-box">
                        <div class="counter-one__count-box">
                            <h3 class="odometer" data-count="860">00</h3>
                        </div>
                        <p class="counter-one__text">Wellness & Spa</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single counter-one__single-3">
                    <div class="counter-one__icon">
                        <span class="icon-herbal"></span>
                    </div>
                    <div class="counter-one__content-box">
                        <div class="counter-one__count-box">
                            <h3 class="odometer" data-count="30">00</h3>
                        </div>
                        <p class="counter-one__text">Herbal Treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single counter-one__single-4">
                    <div class="counter-one__icon">
                        <span class="icon-customer-service"></span>
                    </div>
                    <div class="counter-one__content-box">
                        <div class="counter-one__count-box">
                            <h3 class="odometer" data-count="980">00</h3>
                        </div>
                        <p class="counter-one__text">Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>