<header class="main-header">
    <div class="main-header__top">
        <div class="main-header__top-wrapper">
            <div class="main-header__top-inner">
                <div class="main-header__top-left">
                    <ul class="list-unstyled main-header__contact-list">
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="text"><p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p></div>
                        </li>
                        <li>
                            <div class="icon"><i class="fas fa-phone"></i></div>
                            <div class="text"><p><a href="tel:{{ site.phone }}">{{ site.phone }}</a></p></div>
                        </li>
                    </ul>
                </div>
                <div class="main-header__top-right">
                    <div class="main-header__social">
                        {% include social.html %}
                    </div>
                    <div class="main-header__btn-box">
                        <a href="{{ site.book }}" class="thm-btn main-header__btn">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="main-menu__wrapper">
            <div class="main-menu__wrapper-inner">
                <div class="main-menu__left">
                    <div class="main-menu__logo">
                        <a href="{{ site.url }}"><img src="assets/images/resources/logo-1.png" alt=""></a>
                    </div>
                </div>
                <div class="main-menu__main-menu-box">
                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                    <ul class="main-menu__list">
                        {% for item in site.data.menu %}
                        <li class="{% if page.url == item.file %}current{% endif %}">
                            <a href="{{ site.baseurl }}{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div>