<section class="spa-center">
    <div class="spa-center__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url(assets/images/backgrounds/spa-center-bg.jpg);">
    </div>
    <div class="spa-center__inner">
        <div class="container">
            <div class="spa-center__content text-center">
                <div class="spa-center__img">
                    <img src="assets/images/resources/spa-center-img-1.png" alt="">
                </div>
                <h3 class="spa-center__title">Our Spa Center is the
                    <br> True Splendor</h3>
                <div class="spa-center__btn-box">
                    <a href="contact" class="thm-btn spa-center__btn">book now</a>
                </div>
            </div>
        </div>
    </div>
</section>